body {
    color: white;
}

main {
    background: black;
}

main .collection>.header {
    background: #3f3f48;
}

main .collection>.card {
    background: #2d2e2f;
}

main .collection>.card>.item {
    border-bottom: solid 1px #424242;
}

.searchbox {
    box-shadow: 0 0.3em 1em rgba(255, 255, 255, .15);
    background: rgba(255, 255, 255, .15);
}

footer {
    background: #1d1d1d;
}

body {
    background: #052956;
}

header {
    background: linear-gradient(180deg, #4f0080 0%, #052956 50%);
}

header::after {
    opacity: .5;
}

main .collection>.card>.item>md-icon {
    filter: brightness(1.5);
}

main .collection>.header>md-icon {
    filter: brightness(1.5);
}

@media (max-width: 1020px) {
    header::after {
        opacity: .2;
    }
}