@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../images/icons.woff2) format('woff2');
}

:root {
    --base-size: 2vmin;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    -webkit-tap-highlight-color: transparent;
    font-size: inherit;
}

body {
    margin: 0;
    font-family: Roboto, segoe ui, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: var(--base-size);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media(hover: hover) and (pointer:fine) {
    *::-webkit-scrollbar-thumb, *::-webkit-scrollbar {
        background: 0 0;
        width: 5px;
        height: 5px;
        padding: 3px;
    }
    *::-webkit-scrollbar-thumb {
        background: rgba(200, 200, 200, .5);
    }
    *::-webkit-scrollbar-thumb:horizontal {
        border-radius: 2em;
    }
    *::-webkit-scrollbar-thumb:vertical {
        border-radius: 2em;
    }
    *::-webkit-scrollbar-track {
        display: none;
    }
}

.backgrounder {
    background: #86bbff;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
}

h1, h2 {
    margin: 0;
}

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
    display: none;
}

header {
    background: linear-gradient(180deg, #CF82FF 0%, #86BBFF 50%);
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: montserrat, Roboto, segoe ui, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    color: #fff;
    position: relative;
    font-size: 2.5vh;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/plane.png);
    background-size: auto 105%;
    background-repeat: no-repeat;
    background-position: 60% 100%;
    z-index: 1;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/limits.png);
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: 5% 100%;
    z-index: 1;
}

header .header-box {
    width: calc(calc(100%/3) * 2);
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-width: 40em;
    margin-bottom: 0;
}

header .header-box>.title>.logo {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

header .header-box>.title>.logo img {
    height: calc(var(--base-size) * 1.3);
    margin-right: .25em;
    display: inline-block;
}

header .header-box>.title>.logo>a {
    text-decoration: none;
    margin: 0 .25em;
    display: flex;
    align-items: center;
    direction: ltr;
}

header .header-box>.title>.logo .bold {
    font-weight: 700;
    margin-right: .25em;
}

header .header-box>.title>.logo .middle {
    font-weight: 500;
}

header .header-box>.title>.logo .name {
    opacity: .6;
}

header .header-box>.title>.name {
    font-weight: 700;
    font-size: 3em;
    line-height: 1;
    margin-bottom: .8em;
}

header .header-box>.explanator {
    display: flex;
    margin-bottom: 1em;
}

header .header-box>.explanator>.content {
    margin-left: 1em;
}

header .header-box>.explanator>.title {
    display: flex;
    font-size: 2em;
    font-weight: 700;
}

header .header-box>.explanator>.content>p {
    margin: 0;
}

header .header-box>.explanator>.content>p+p {
    margin-top: 1em;
}

main {
    background: #fff;
    border-radius: .5em .5em 0 0;
    box-shadow: 0 -.5em .5em rgba(0, 0, 0, .05);
}

main>.content {
    width: 80%;
    margin: .8em auto 1em;
}

md-icon {
    font-family: 'Material Icons';
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
}

.searchbox {
    height: 3em;
    box-shadow: 0 .15em .8em rgba(114, 114, 114, .24);
    border-radius: .5em;
    display: flex;
    align-items: center;
}

.searchbox>md-icon {
    font-size: 1.5em;
    margin: .5em;
    -webkit-margin-end: .25em;
    -webkit-margin-end: .25em;
    margin-inline-end: .25em;
}

.searchbox>input {
    height: 100%;
    flex-grow: 1;
    background: 0 0;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
}

main .loader {
    text-align: center;
    padding: 1em;
    font-family: montserrat, Roboto, segoe ui, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-weight: 500;
}

main .collection {
    --vcolor: 0, 0, 0;
    margin-top: 2.5em;
    display: block;
}

main .collection>.header {
    margin: 0 .6em;
    padding: .5em;
    border-radius: .4em .4em 0 0;
    background: #f6f6f9;
    box-shadow: 0 -.1em .2em rgba(22, 31, 93, .07);
    display: flex;
    align-items: center;
    font-size: 1.25em;
    break-after: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

main .collection>.header>.name {
    text-align: left;
}

main .collection>.header>md-icon {
    background: rgba(var(--vcolor), .15);
    color: rgb(var(--vcolor));
    font-size: 1.3em;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    min-width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-margin-end: .5em;
    -moz-margin-end: .5em;
    margin-inline-end: .5em;
}

main .collection>.card {
    background: #fff;
    border-radius: .5em;
    box-shadow: 0 -.08em .35em rgba(0, 0, 0, .13);
    display: block;
}

main .collection>.card>.item {
    padding: .75em 1.5em;
    border-bottom: solid 1px #eee;
    display: flex;
    align-items: center;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

main .collection>.card>.item:last-child {
    border: 0;
}

main .collection>.card>.item>md-icon {
    color: rgb(var(--vcolor));
    font-size: 1.5em;
    align-self: baseline;
    margin-top: calc(.75em/2);
    -webkit-margin-end: .75em;
    -moz-margin-end: .75em;
    margin-inline-end: .75em;
}

main .collection>.card>.item>.content>.title {
    font-weight: 500;
    display: block;
    text-align: left;
    text-align: start;
}

main .collection>.card>.item>.content>.title>.info {
    font-weight: 400;
    opacity: .3;
    display: inline;
}

main .collection>.card>.item>.content>.data {
    opacity: .7;
    display: block;
}

footer {
    background: #f1f1f1;
    padding: 1em;
    display: flex;
    align-items: center;
    -webkit-padding-start: 10%;
    -moz-padding-start: 10%;
    padding-inline-start: 10%;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    position: relative;
}

footer>.logo>img {
    border-radius: 50%;
    width: 5em;
}

footer>.side {
    -webkit-margin-start: 1em;
    -moz-margin-start: 1em;
    margin-inline-start: 1em;
}

footer>.side>.data {
    opacity: .5;
}

footer>.side>.name {
    margin-bottom: .2em;
    font-family: montserrat, Roboto, segoe ui, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 1.2em;
}

footer>.side>.name>.bold {
    font-weight: 600;
}

footer>.side>.name>.middle {
    font-weight: 500;
}

#results {
    position: relative;
}

.footericon img {
    height: 1em;
}

#langicon {
    vertical-align: bottom;
    font-size: 1.2em;
}

#langswitchlabel {
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
}

#langswitchlabel::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .1em;
    vertical-align: middle;
    border-top: .2em solid;
    border-right: .2em solid transparent;
    border-left: .2em solid transparent;
}

#langlist {
    position: absolute;
    display: block;
    overflow: auto;
    background: #fff;
    opacity: 100%;
    border-radius: .2em;
    box-shadow: 0 .1em .5em rgba(0, 0, 0, .15);
    margin: 1em;
    padding: 0;
    max-height: 33vh;
    display: none;
}

li.lang-link>a {
    list-style: none;
    padding: .7em;
    display: flex;
    text-decoration: none;
}

li.lang-link {
    list-style: none;
    transition: background .15s;
}

li.lang-link:hover, li.lang-link.active-lang {
    background: rgba(122, 122, 122, .15);
}

li.lang-link .lang-code {
    opacity: .5;
    min-width: 2em;
}

.footericon {
    margin: 0 .1em;
    text-decoration: none;
}

@media(max-width: 1020px) {
    :root {
        --base-size: 4vmin;
    }
    header {
        font-size: 3vmin;
    }
    header .header-box>.explanator {
        font-size: .5em;
    }
    main>.content {
        width: 95%;
    }
    header .header-box>.title>.name {
        font-size: 5em;
    }
    header .header-box>.title>.name {
        margin-bottom: .3em;
        font-size: 5em;
    }
    header .header-box>.explanator {
        display: flex;
        flex-direction: column;
        font-size: 1.6em;
    }
    header .header-box>.explanator>.title {
        font-size: .8em;
    }
    header .header-box>.explanator>.content {
        margin-left: 0;
        font-size: .7em;
    }
    header::before {
        display: none;
    }
    header::after {
        background-position: 90% 100%;
        background-size: auto 100%;
        opacity: .5;
    }
    footer {
        padding: 1em;
        justify-content: center;
    }
    main .collection:nth-child(1) {
        margin-top: 1em;
    }
}

html[dir="rtl"] header::after, html[dir="rtl"] header::before {
    transform: scaleX(-1);
}

@media(max-width: 500px) {
    #langlist {
        left: 0!important;
        right: 0!important;
    }
}

@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    md-icon {
        display: none !important;
    }
    header .header-box {
        margin-left: 2em;
    }
    .searchbox input {
        padding-left: 1em;
    }
}
